{% extends "base.html" %}

{% block content %}

<!-- frontpage.html -->
    <!-- Display the blogs -->
     <!-- <hr> just creates a line. -->

    <hr>
<!-- Python code for a for loop -->
    {% for blog in blogs %}
      <div class="art">
        <!-- <div class="art-title"><a href="blog.key().id()">{{blog.title}}</a></div> -->
        <!-- <div class="art-title"><a href="/blog/%s' % str(blog.key().id())">{{blog.title}}</a></div> -->
        <div class="art-title"><a href="/blog/{{blog.key().id()}}">{{blog.title}}</a></div>
        <!-- <div class="art-title"><a href="/blog/%s' % blog.key().id().blog">{{blog.title}}</a></div> -->
        <pre class="art-body">{{blog.blog}}</pre>
      </div>
    {% endfor %}

    {% endblock %}
